<ion-header>
  <ion-navbar color="fondo">
  </ion-navbar>
</ion-header>

<ion-content padding class="contenido" text-justify>
<div *ngIf="id==1">
    <div *ngIf="English == false">
         <h1>Caidas de distinto nivel</h1>
        <ion-card>
            <img src="../../assets/imgs/1.png">
        </ion-card>
        <div text-center>
            <h2>Medidas de control</h2>
        </div>
        <h4>(*)Sólo transite por senderos habilitados</h4>
        <h4>(*)Respete limites de acercamiento a acantilados</h4>
        <h4>(*)No corra o haga bromas en sectores, como acantilados, o de superficies irregulares</h4>
        <h4>(*)Se recomienda uso de calzado que sujete tobillo y tenga un buen dibujo de suela</h4>
    </div>
    <div *ngIf="English == true">
        <h1>Fall at level and different level</h1>
        <ion-card>
            <img src="../../assets/imgs/1.png">
        </ion-card>
        <div text-center>
            <h2>Measures of control</h2>
        </div>
        <h4>(*)Transit along authorized footpaths only.</h4>
        <h4>(*)Respect approach cliffs limits.</h4>
        <h4>(*)Do not run nor do pranks in areas, like cliffs, or irregular surfaces.</h4>
        <h4>(*)Use of footwear that holds the ankle and has a good sole pattern is recommended</h4>  
    </div>
</div>
<div *ngIf="id==2">
    <div *ngIf="English == false">
        <div text-center>
         <h1>Factores climaticos adversos</h1>        
        </div>
        <ion-card>
            <img src="../../assets/imgs/2.png">
        </ion-card>
        <div text-center>
            <h2>Medidas de control</h2>
        </div>
        <h4>(*)Cumplir con Protocolo de emergencia del Valle de la Luna</h4>
        <h4>(*)En caso de lluvias, rayos estar atentos a instrucción de administración del Valle para generar evacuación, mantenga la calma y evacue a puntos de resguardo </h4>
        <h4>(*)Vientos por sobre 70 KMS /Hrs, evacuación de zonas de riesgo</h4>
        <h4>(*)Respetar cierre temporal de Valle de la Luna, o sectores específicos afectados</h4>
        <h4>LOS OPÉRADORES TURISTICOS SERAN RESPONSABLES DE LA SEGURIDAD DE SUS PASAJEROS Y DEBERAN ACATAR Y DAR SOPORTE A LAS POSIBLES EVACUACIONES DEL VALLE DE LA LUNA POR FACTORES CLIMATICOS ADVERSOS.</h4>
    </div> 
    <div *ngIf="English == true">
        <div>
            <h1>Adverse weather factors</h1>
        </div>
        
        <ion-card>
            <img src="../../assets/imgs/2.png">
        </ion-card>
        <div text-center>
            <h2>Measures of control</h2>
        </div>
        <h4>(*)Comply with The Moon Valley’s emergency protocol.</h4>
        <h4>(*)In case of rain, rays, be attentive of administration of the valley’s instructions  for evacuation, keep calm and evacuate to shelter points.</h4>
        <h4>(*)Winds over 70 KMS/Hrs, Evacuation of risk areas. </h4>
        <h4>(*)Respect temporary closure of the Moon Valley, or specific affected areas.</h4>
        <h4>THE TOUR OPERATORS WILL BE RESPONSIBLE FOR THE SECURITY OF ITS PASSENGERS AND SHOULD ABIDE AND GIVE SUPPORT TO POSSIBLE EVACUATIONS BY CLIMATIC FACTORS OF THE MOON VALLEY.</h4>    
    </div>

</div>
<div *ngIf="id==3">
    <div *ngIf="English == false">
        <div text-center>
            <h1> Exposicion a radiacion UV</h1>
        </div>        
        <ion-card>
        <img src="../../assets/imgs/3.png">
        </ion-card>
        <div text-center>
            <h2>Medidas de control</h2>
        </div>
            <h3>(*)Mantener conductas de foto proteccion</h3>
            <h4>(*)Use Foto protector FPS 50+</h4>
            <p>(Propios Obligatorios, recomendacion para turistas)</p>
            <h4>(*)Uso de ropa cuello redondo, mangas</h4>
            <h4>(*)Gorro del tipo campero y/o con viseras y proteccion para parte posterior del cuello</h4>
            <h4>(*)Uso de gafas con proteccion UV</h4>
            <p>(propios obligatorios, recomendacion para turistas).</p>
            
    </div>
        <div *ngIf="English == true">
            <div text-center>
                <h1>Exposures to UV radiation</h1>
            </div>
        <ion-card>
            <img src="../../assets/imgs/3.png">
        </ion-card>
        <div text-center>
            <h2>Measures of control</h2>
        </div>
        <h4>(*)Use photo protector FPS 50+</h4>
            <p>(own obligatory, recommendation for tourists)</p>
        <h4>(*)Wear round neck clothes, long sleeves and long trousers </h4>
        <h4>(*)Camping hat type and/or with sun visors and protection to the back of the neck.</h4>
        <h4>(*)Use of glasses with UV protection</h4>
            <p>(Own obligatory, recommendation for tourists).</p>
    </div>
</div>
<div *ngIf="id==4">
    <div *ngIf="English == false">
        <div text-center>
            <h1>Perdida de control del vehiculo</h1>
        </div>
        
        <ion-card>
            <img src="../../assets/imgs/4.png">
        </ion-card>
        <div text-center>
            <h2>Medidas de control</h2>
        </div>
        <h4>(*)Respetar velocidad al interior del Valle 20 KM/Hrs</h4>
        <h4>(*)Vehículos con mantención al día </h4>
        <h4>(*)Al transitar cercano a personas o ciclistas mantenga distancia y baje velocidad.</h4>
        <h4>(*)Transitar por rutas habilitadas y autorizadas</h4>
        <h4>(*)Dar fiel cumplimiento a ley 18,290</h4>
    </div>    
    <div *ngIf="English == true">
        <div text-center>
            <h1>Loss of control of vehicles</h1>
        </div>        
        <ion-card>
            <img src="../../assets/imgs/4.png">
        </ion-card>
        <div text-center>
            <h2>Control measures</h2>
        </div>
        <h4>(*)Respect speed inside the Valley 20 KM/Hrs.</h4>
        <h4>(*)Vehicles with daily maintenance.</h4>
        <h4>(*)Keep distance when driving if you’re close from people or bikers.</h4>
        <h4>(*)Transit through open and authorized routes.</h4>
        <h4>(*)Safeguarding compliance of the law 18,290.</h4>
    </div>
</div>
<div *ngIf="id==5">
    <div *ngIf ="English==false">        
        <div text-center>
            <h1>Perdida de control sobre bicicleta</h1>
        </div>
        
        <ion-card>
            <img src="../../assets/imgs/5.png">
        </ion-card>
        <div text-center>
            <h2>Medidas de control</h2>
        </div>
        <h4>(*)Antes de ingresar al valle verificar correcto estado de la bicicleta, (frenos, ruedas, asegurar manubrio etc).</h4>
        <h4>(*)Uso de casco y chaleco reflectante</h4>
        <h4>(*)Varios ciclistas transitar uno en pos de otro</h4>
        <h4>(*)Respetar protocolos de seguridad Valle de la Luna, en caso de emergencia</h4>
        <h4>(*)Se prohíbe tomarse de otros vehículos que se encuentren en movimiento (Ley 18.290 Art,131)</h4>
        <h4>(*)Se prohíbe transportar carga, que impida mantener ambas manos en el manubrio (Ley 18.290 Art,132)</h4>
        <h4>(*)En caso de poca iluminación transitar uno en pos del otro (Ley 18.290 Art,131)</h4>
    </div> 
        <div *ngIf="English == true">
            <div text-center>
                <h1>Loss of control on bicycle</h1>    
            </div>
        
        <ion-card>
            <img src="../../assets/imgs/5.png">
        </ion-card>
        <div text-center>
            <h2>Measures of control</h2>
        </div>
        <h4>(*)Before entering the Valley check bicycle conditions (brakes, wheels, securing handlebars, etc).</h4>
        <h4>(*)Use of helmet and reflective vest.</h4>
        <h4>(*)Several cyclists transit one toward another.</h4>
        <h4>(*)Respect The Moon Valley’s safety protocols in case of emergency.</h4>  
        <h4>(*)It is prohibited to take other vehicles that are in motion </h4>
            <p>(Law 18. 290 Art,131).</p>
        <h4>(*)It is prohibited to carry loads, which prevents both hands from holding on the handlebars</h4>
            <p>(Act 18. 290 Art,132).</p>
        <h4>(*)In case of low light  transit one toward another</h4>
            <p>(Law 18.   290 Art,131).</p>
    </div>
    
</div>

</ion-content>