page-map {
    .contenido{
        background-color: #FDEAA9;
        background: url('../../assets/imgs/Mapa.png') no-repeat center center fixed;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
}
