
<ion-header>
  <ion-navbar color="fondo">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="contenido">

    <div *ngIf= "English == false" text-justify>
        <div text-center>
            <h2>Valle de la luna</h2>
        </div>
        
        <p>El Valle de la Luna, siempre ha tenido gran importancia económica y cultural para el pueblo de San Pedro de Atacama, las salinas, como era conocido antiguamente.</p>
        <ion-card>
        <img src="../../assets/imgs/valle1.png"/>
        </ion-card>
        <div text-center>
            <h2>Formacion geologica del valle.</h2>
        </div>
        <p>
        El Valle de la luna es el resultado de diversos procesos geológicos que datan de millones de años, para entender las formaciones del valle se debe entender que Chile está en la unión de la placa de nazca y sudamericana, estos movimientos de placa han permitido la formación del valle de la luna.
        </p>
    <ion-card>
        <img src="../../assets/imgs/valle3.png"/>
    </ion-card>
        <p>El cual es una cordillera y que hace millones de años  fue un lago se piensa que el valle de la luna que fue una lengua del mar y luego un lago y producto de los mismos procesos de subducción la primera cordillera que se levanta es la cordillera de la costa, luego la cordillera de Domeyko y posteriormente la cordillera de los andes</p>
    <ion-card>
        <img src="../../assets/imgs/domeyco.png"/>
    </ion-card>
        
            <p>cuando se comienza a levantar la cordillera de Domeyko Este lago de aguas calmadas actualmente conocido como valle de la luna comienza a depositar una serie de sedimentos en forma de avalancha formando estrías o estratos, se puede ver de esta forma el anfiteatro</p>
    <ion-card>
        <img src="../../assets/imgs/valle2.png"/>
    </ion-card>
        <p>debido a los movimientos de placas existentes en la localidad se levanta este antiguo lago formando lo que hoy llamamos Valle de la luna.</p>
    </div>
    <div *ngIf= "English == true" text-justify>
        <div text-center>
                <h2>Moon valley</h2>
        </div>
        
        <p>The Moon Valley , has always had a great economic and cultural importance for the town of San Pedro de Atacama, Las Salinas, as it was well- known in the past.</p>
        <ion-card>
        <img src="../../assets/imgs/valle1.png"/>
        </ion-card>
        <div text-center>
            <h2>Geology of the area.</h2>
        </div>
        <p>
            The Moon Valley  is the result of various geological processes dating back to millions of years, to understand the valley formations it should be understood that Chile is located in the union of the Nazca and South American Plate, these plates movements have allowed the formation of the Moon Valley.
        </p>
    <ion-card>
        <img src="../../assets/imgs/valle3.png"/>
    </ion-card>
        <p>which is a range that millions of years ago was a lake, it  is thought that the Moon Valley  was a language of the sea then a lake and product of the same subduction processes the first mountain range that rises is the Cordillera de la Costa (Coast range) , then the Cordillera de Domeico and then the Cordillera de los Andes ( The Andes range).</p>
    <ion-card>
        <img src="../../assets/imgs/domeyco.png"/>
    </ion-card>            
            <p>when the mountain range of Domeico began to rise this  lake of calm waters currently known as Moon Valley, begins to deposit a series of sediments in an avalanche shape forming stretch marks or strata, it is possible to see thus the amphitheater</p>
    <ion-card>
        <img src="../../assets/imgs/valle2.png"/>
    </ion-card>
        <p>due to the movements of existing plates in the locality this ancient lake rises forming what today we call The Moon Valley.</p>
    </div>
</ion-content>
